@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
.App {
  text-align: center;
}
body{
  background-color: #030303;
  color: white;
  font-family: 'Inter', sans-serif;
}

.books-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.book{
  margin: 7vh;
  /* box-shadow: 0 0 4px grey; */
  width: 40vh;
  color: white;
  border-radius: 7px;
  max-width: 25vh;

}
.book img{
  width: 25vh;
  margin: 1vh;
  box-shadow: 0 0 4px grey;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #030303;
}
.nav img{
  width: 15vh;
  margin: 0%;
  padding: 0%;
}
.nav button{
  color: #FE0810;
}
/* .nav button{
  height: 5vh;
  width: 11vh;
  border-radius: 20px;
  text-align: center;
  background-color: #FE0810;
  color: white;
  cursor: pointer;
} */
.kalvi{
  color: #FE0810;
  font-size: 5vh;
  margin: 0%;
  display: flex;
  justify-content: space-between;
}
h5{
  color: white;
  padding-left: 2vh;
  padding-top: 0.5vh;
}

.searchdiv{
  height: 5vh;
  width: 35vh;
  border-radius: 15vh;
}

#main-form-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50vh;
  margin-left: auto;
  margin-right: auto;
}
/* #main-form-div label{
  text-align: left;
} */
#main-form-div input{
  border-radius: 7px;
  height: 3vh;
  margin-left: 5vh;
  margin-right: 5vh;
  padding-left: 1vh;


}
#submit{
margin-left: auto;
margin-right: auto;
border-radius: 15px;
width: 15vh;
height: 5vh;
text-align: center;

}
#main-form-div button:hover{
  background-color: #FE0810;
  color: white;
  cursor: pointer;
}
@media only screen and (max-width: 600px){
  .nav{
    flex-direction: column;
  }
  #main-form-div button:hover{
    background-color: white;
    color: black;
  }

}